<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
	<!-- Container wrapper -->
	<div class="container">
		<a class="navbar-brand mt-2 mt-lg-0" href="{% url 'index'  %}">
			<h1 class="fs-3">
				Awwards.
			</h1>
		</a>
		<!-- Toggle button -->
		<button
			class="navbar-toggler"
			type="button"
			data-bs-toggle="collapse"
			data-bs-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent"
			aria-expanded="false"
			aria-label="Toggle navigation"
		>
			<i class="fas fa-bars"></i>
		</button>

		<!-- Collapsible wrapper -->
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<!-- Navbar brand -->
			<!-- Left links -->
			<ul class="navbar-nav me-auto mb-2 mb-lg-0">
				<li class="nav-item">
					<a class="nav-link" href="{% url 'index' %}">Home</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href=" {% url 'upload' %} ">Upload Project</a>
				</li>
			</ul>
			<!-- Left links -->
			<!-- Right elements -->
			<div class="d-flex align-items-center">
				<!-- Avatar -->
				{% if user.is_authenticated %}
				<div class="dropdown">
					<a
						class="dropdown-toggle d-flex align-items-center hidden-arrow"
						href="#"
						id="navbarDropdownMenuAvatar"
						role="button"
						data-bs-toggle="dropdown"
						aria-expanded="false"
					>
					{% if user.profile.avatar %}
						<img
							src="{{ user.profile.avatar.url }}"
							class="rounded-circle"
							height="25"
							alt="Black and White Portrait of a Man"
							loading="lazy"
						/>
					{% else %}
					<i class="fa-solid fa-user"></i>
					{% endif %}	
					</a>
					<ul
						class="dropdown-menu"
						aria-labelledby="navbarDropdownMenuAvatar"
					>
						<li>
							<a class="dropdown-item" href=" {% url 'loadProfile' user.username %} ">My profile</a>
						</li>
						<li>
							<a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
						</li>
					</ul>
				</div>
				{% else %}
				<div>
					<a href="{% url 'login' %}" class="btn btn-outline-dark me-2">Login</a>
					<a href="{% url 'signup'%}" class="btn btn-primary">Signup</a>
				</div>
				{% endif %}
			</div>
			<!-- Right elements -->
		</div>
		<!-- Collapsible wrapper -->
	</div>
	<!-- Container wrapper -->
</nav>
<!-- Navbar -->
